@model AuctionWebApplication.Models.Auction
@{
    ViewData["Title"] = "Details";
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@Html.Raw(TempData["ErrorMessage"])</div>
}
<h1>Details</h1>

<div>
    <h4>Auction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuctionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuctionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuctionDesription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuctionDesription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seller)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seller.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bid.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bid.Price)
        </dd>
    </dl>
</div>
<div>
    <form asp-action="Details" asp-route-id="@Model.AuctionId">
      <label for="bet">Ставка:</label><br>
      
      <input type="number" id="bet" name="bet" step=".01"><br>
      <input type="submit" value="BET">
    </form>
    <a asp-action="Edit" asp-route-id="@Model?.AuctionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
