@model IEnumerable<AuctionWebApplication.Auction>

@{
    ViewData["Title"] = "Index";
}

<h1>Аукціони</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuctionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuctionDesription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seller)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bid.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AuctionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuctionDesription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seller.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bid.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AuctionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AuctionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AuctionId">Delete</a> 
            </td>
        </tr>
}
    </tbody>
</table>
