@using System.Security.Claims;
@model IEnumerable<SoldItem>
@{
    ViewData["Title"] = "Index";
}

<h1>Продано</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Auction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bidder)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Auction.AuctionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bidder.Name)
            </td>
            <td>
                @if (User.FindFirstValue(ClaimTypes.Role) == "admin")
                {
                        <a asp-action="Details" asp-route-id="@item.AuctionId">Детально</a>
                        <a asp-action="Delete" asp-route-id="@item.AuctionId">Видалити</a>
                }
                else
                {
                        <a asp-action="Details" asp-route-id="@item.AuctionId">Детально</a> 
                }
            </td>
        </tr>
}
    </tbody>
</table>
